@using bajki.Models;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Bajki</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
		  rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;600;700&display=swap"
		  rel="stylesheet" />
	<link rel="stylesheet" href=@ViewBag.Url />
	<link rel="stylesheet" href="/Css/bajki.css" />
	<link rel="stylesheet" href="/Css/AdminPannel.css" />
</head>
<body>
	@{
		List<Tale> TaleList = ViewBag.TaleList;
	}
	<partial name="_NavPartialView"></partial>

	<main>

		<div class="tales" style="margin-top:0px">
			@foreach (Tale tale in TaleList)
			{
				<div class="tale" id="@tale.OrderID" style='background-image: url(@tale.Miniature); text-decoration:none;'>
					<div class="tale-menu">
						<div class="top menu">
							<div class="top-icon"><a href="/admin/edytuj/@tale.Id"><div class="arrow"><i class="ti ti-settings"></i></div></a></div>
							<div class="top-icon up"><button class="arrow"><i class="ti ti-arrow-narrow-up"></i></button></div>
							<div class="top-icon"><a href="/admin/usun/@tale.Id"><div class="arrow"><i class="ti ti-trash"></i></div></a></div>
						</div>
						<div class="mid menu">
							<div class="left"><button class="arrow"><i class="ti ti-arrow-narrow-left"></i></button></div>
							<div class="center"></div>
							<div class="right"><button class="arrow"><i class="ti ti-arrow-narrow-right"></i></button></div>
						</div>
						<div class="bot menu">
							<div class="top-icon down"><div class="arrow"><i class="ti ti-arrow-narrow-down"></i></div></div></div>
					</div>
			

					<div class="tales-name">@tale.Title</div>
				</div>
			}
		</div>
	</main>

	<form action="/admin/zapisz" method="post">

		<div class="inputs">
			@foreach(Tale tale in TaleList)
			{
				string name = "intList[" + @tale.OrderID + "]";
				string idd = "input" + tale.OrderID;
				<input id="@idd" type="number" name="@name" value=@tale.OrderID />
			}
			<button type="submit" onclick="intList()">zapisz</button>
		</div>




	</form>

	<script src="/JS/AdminPannel.js"></script>
</body>

</html>