@using bajki.Models;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Bajki</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
		  rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;600;700&display=swap"
		  rel="stylesheet" />
	<link rel="stylesheet" href=@ViewBag.Url />
	<link rel="stylesheet" href="/Css/bajki.css" />
	<link rel="stylesheet" href="/Css/AdminPannel.css" />
	<link rel="stylesheet" href="/Css/addTale.css" />
</head>
<body>
    @{
        List<Tale> TaleList = ViewBag.TaleList;
        Tale taleToEdit = ViewBag.TaleToEdit;
    }
	<partial name="_NavPartialView"></partial>


    <div class="blur">


	    <main class="container">

            <form action="/admin/edytuj/sukces/@taleToEdit.Id" method="post">

                <div class="add-tale">Dodaj bajkę</div>


                <div class="row">
                    <label>Tytuł</label>
                    <input id="title" name="Title" value="@taleToEdit.Title" placeholder="Tytuł" />

                </div>

                <div class="row">
                    <label>Link obrazka na miniaturę</label>
                    <input id="miniature" name="Miniature" value="@taleToEdit.Miniature" placeholder="Miniatura" />

                </div>

                <div class="row">
                    <label>Link obrazka w większej rozdzielczości</label>
                    <input id="picture" name="Picture" value="@taleToEdit.Picture" placeholder="Obraz" />

                </div>

                <div class="row">
                    <label>Pierwszy akapit</label>
                    <textarea id="paragraph1" type="text" name="Paragraph1" placeholder="Akapit1">@taleToEdit.Paragraph1</textarea>

                </div>
                <div class="row">

                    <label>Drugi akapit</label>
                    <textarea id="paragraph2" name="Paragraph2" placeholder="Akapit2">@taleToEdit.Paragraph2</textarea>
                </div>

                <div class="row">

                    <label>Trzeci akapit</label>
                    <textarea id="paragraph3" name="Paragraph3" placeholder="Akapit3">@taleToEdit.Paragraph3</textarea>
                </div>

                <div class="row">
                    <label>Czwarty akapit</label>
                    <textarea id="paragraph4" name="Paragraph4" placeholder="Akapit4">@taleToEdit.Paragraph4</textarea>

                </div>

                <div class="row">
                    <label>Piąty akapit</label>
                    <textarea id="paragraph5" name="Paragraph5" placeholder="Akapit5">@taleToEdit.Paragraph5</textarea>
                </div>

                <div class="row">
                    <label>Szósty akapit</label>
                    <textarea id="paragraph6" name="Paragraph6" placeholder="Akapit6">@taleToEdit.Paragraph6</textarea>
                </div>

                <div class="row">
                    <label>Siódmy akapit</label>
                    <textarea id="paragraph7" name="Paragraph7" placeholder="Akapit7">@taleToEdit.Paragraph7</textarea>
                </div>


                <div class="row">
                    <label>Ósmy akapit</label>
                    <textarea id="paragraph8" name="Paragraph8" placeholder="Akapit8">@taleToEdit.Paragraph8</textarea>
                </div>

                <div class="row">
                    <label>Dziewiąty akapit</label>
                    <textarea id="paragraph9" name="Paragraph9" placeholder="Akapit9">@taleToEdit.Paragraph9</textarea>
                </div>



                <button id="add-button" type="submit" disabled>Wyślij</button>



            </form>
	    </main>	
    </div>









	<script src="/JS/AdminPannel.js"></script>
    <script src="/JS/AddTale.js"></script>

</body>
</html>